<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alion.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.alion.AlionApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name="com.alion.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <!--<activity android:name="com.alion.myviews.PictureTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity android:name="com.alion.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<service android:name="com.alion.canvasdraw.MyIntentService"/>-->
        <!--<activity android:name="com.alion.slidingpanelayoutdemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alion.slidingpanelayoutdemo.simple.SimpleUse2Activity" />
        <activity
            android:name="com.alion.slidingpanelayoutdemo.slideclose.NextActivity"
            android:label="NextActivity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity android:name="com.alion.slidingpanelayoutdemo.simple.SimpleUse1Activity"></activity>-->
       <!-- <receiver android:name="com.alion.widget.Appwidget" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_config" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.alion.timeclick" />
            </intent-filter>
        </receiver>-->

        <provider
            android:exported="true"
            android:name="com.alion.provider.MyContentProvider"
            android:authorities="com.alion.provider"
            android:readPermission="com.alion.provider.Read"
            android:writePermission="com.alion.provider.Write" />

        <activity android:name="com.alion.accessibility.AccessibilityNormalSample"/>

        <service android:name="com.alion.accessibility.AccessibilitySampleService"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>
    </application>

    <uses-permission android:name="com.alion.provider.Read" android:protectionLevel="normal"/>
</manifest>