<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alion.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="com.alion.AlionApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name="com.alion.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <!--<activity android:name="com.alion.myviews.PictureTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity android:name="com.alion.pageanimation.ViewTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<service android:name="com.alion.canvasdraw.MyIntentService"/>-->
        <!--<activity android:name="com.alion.slidingpanelayoutdemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alion.slidingpanelayoutdemo.simple.SimpleUse2Activity" />
        <activity
            android:name="com.alion.slidingpanelayoutdemo.slideclose.NextActivity"
            android:label="NextActivity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity android:name="com.alion.slidingpanelayoutdemo.simple.SimpleUse1Activity"></activity>-->
       <!-- <receiver android:name="com.alion.widget.Appwidget" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_config" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.alion.timeclick" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>